.main{
    width: 50%;
    height: 400px;
    margin: 50px auto;
    border: 2px solid green;
   }
.div1{
  border: 2px solid blueviolet;
  width: 30%;
  height: 400px;
    float: left;
}
.div2{
    border: 2px solid rgb(201, 155, 245);
    width: 30%;
    height: 400px;
    float: left;
  }
  .div3{
    border: 2px solid rgb(61, 187, 16);
    width: 30%;
    height: 400px;
    float: left;
  }